[submodule "iced"]
	path = iced
	url = git@github.com:iced-rs/iced.git
	ignore = dirty
[submodule "webview_rust"]
	path = webview_rust
	url = git@github.com:webview/webview_rust.git
	ignore = dirty
[submodule "rust-embed-for-web"]
	path = rust-embed-for-web
	url = git@github.com:SeriousBug/rust-embed-for-web.git
	ignore = dirty
[submodule "sfz"]
	path = sfz
	url = git@github.com:RandyMcMillan/sfz.git
